@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import url(reset.css);
@import url(btn.css);
@import url(titulo.css);
@import url(cabecalho.css);
@import url(projetos.css);

:root {
  --branco-creme: #f7f3ed;
  --branco-gelo: #f8f5e8;
  --lilas: #ddcbcc;
  --roxo: #b19ba7;
  --verde: #628474;
  --fonte: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: var(--lilas);
  font-family: var(--fonte);
}
